#flick-list {
    margin-bottom: 0;
}

.template {
    display: none;
}

.flick-name {
    margin: 0 0.75rem 0 0.75rem
}

.flick .button-group {
    margin-bottom: 0;
}

.flick .button-group .button {
    margin-bottom: 0;
}

.flick.fav {
    background-color: #62d9dd;
}